.darkMode {
  position: fixed;
  width: 30px;
  height: 30px;
  right: 95px;
  top: 154px;
  opacity: 0;
  transition: opacity 1s ease;
  animation: darkMode 1s forwards;
  z-index: 99;
}

.lightMode {
  position: fixed;
  width: 30px;
  height: 30px;
  right: 95px;
  top: 154px;
  opacity: 0;
  transition: opacity 1s ease;
  animation: lightMode 1s forwards;
  z-index: 99;
}

@keyframes darkMode {
  100% {
    opacity: 1;
  }
}

@keyframes lightMode {
  100% {
    opacity: 1;
  }
}
