.main {
    background: linear-gradient(to bottom, #ffffff, #382039);
    overflow-x: hidden;
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 40px;
    color: #683D69;
}

.boxParagraph {
    padding: 20px;
    margin: 10% 40px;
    background-color: aliceblue;
    box-shadow: 5px 5px 5px #000;
    border-radius: 5px;
    opacity: 0;
    transform: translateX(-100px);
    animation: slideInFromLeft 1s ease-in forwards;
}

.paragraph {
    margin: 0;
    font-style: italic;
}

.containerTechnologies {
    margin: 15% 40px;
    color: #fff;
}

.technologies1 {
opacity: 0;
transform: translateX(-100px);
animation: slideInFromLeft 1s ease-in forwards;
text-align: center;
}

.technologies2 {
opacity: 0;
transform: translateX(100px);
animation: slideInFromRight 1s ease-in forwards;
text-align: center;
}

.icons {
    width: 13%;
    height: 13%;
    margin: 0 10px 10px 10px;
    object-fit: cover;
    border-radius: 10%;
    background-color: #ffffffc2;
}

@keyframes slideInFromLeft {
    0% {
      opacity: 0;
      transform: translateX(-100px);
    }
    100% {
      opacity: 1;
      transform: translateX(0);
    }
  }

  @keyframes slideInFromRight {
    0% {
      opacity: 0;
      transform: translateX(100px);
    }
    100% {
      opacity: 1;
      transform: translateX(0);
    }
  }