.main {
    background: linear-gradient(to bottom, #ffffff, #382039);
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 40px;
}

.boxParagraph {
    padding: 20px;
    margin: 20px 40px;
    background-color: aliceblue;
    box-shadow: 5px 5px 5px #000;
    border-radius: 5px;
}

.paragraph {
    margin: 0;
    font-style: italic;
}

.containerLanguages {
    margin: 0 40px;
    
}

.languages {
   display: inline-block;
   align-content: center;

}

.icons {
    width: 13%;
    height: 13%;
    margin-right: 10px;
    object-fit: cover;
    border-radius: 10%;
    background-color: #00000021;
}
