.main {
    background: linear-gradient(to bottom, #ffffff, #382039);
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 40px;
}

.boxParagraph {
    padding: 20px;
    margin: 20px 40px;
    background-color: aliceblue;
    box-shadow: 5px 5px 5px #000;
}

.paragraph {
    margin: 0;
}
