.footer {
    background-color: rgb(184, 183, 183);
    box-shadow: 2px -3px 8px #000;
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 20px;
}
.subContainer {
    display: flex;
    justify-content: space-between;
    margin-right: 12px;
}

.images {
    width: 20px;
    margin-right: 10px;
}