.footer {
  background-color: aliceblue;
  box-shadow: 2px -3px 8px #000;
  height: 80px;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80px;
}

.images {
  width: 25px;
  margin: 0 10px;
  box-shadow: 3px 2px 5px #000;
  border-radius: 50%;
}

.play {
  width: 25px;
  height: 25px;
  background-color: #683d69;
  transform: translate(0%);
  transition: transform 0.3s ease-in-out;
}

.pause {
  width: 25px;
  height: 25px;
  background-color: #683d69;
  transform: rotate(180deg);
  box-shadow: -2px -2px 5px #000;
  transition: transform 0.3s ease-in-out;
}
